{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid px-0">
        <img src="{{ asset('images/16908.jpg') }}" class="img-fluid
        mx-xl-auto d-block object-fit-contain" alt="...">
    </div>
    <div class="container-fluid mt-lg-4 mt-2 px-1 px-lg-4">
        <div class="row row-cols-xl-5 row-cols-lg-3 row-cols-1 g-4 align-content-around">

            {% if (figuresObjectsArray is defined and figuresObjectsArray is not empty) %}
            {% for figure in figuresObjectsArray %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ (figure.images is not empty) ?
                    asset('images/' ~ figure.images[0].getPath()) : ""
                    }}"
                         class="card-img-top h-75 object-fit-cover" alt="...">
                    <div class="card-body row align-items-center">
                        <p class="card-text col-8 col-lg-7 mb-0">
                            <a href="{{ path("app_figure", {slug: figure
                            .getSlug()})
                            }}">{{
                                figure.getName()
                                }}</a></p>
                        <a href="{{ path("app_figure_update", {slug: figure
                            .getSlug()})
                        }}" class="col link-dark h-50 w-50"><svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" class="bi
                                     bi-pencil-fill h-100 w-100" viewBox="0 0
                                     16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                            </svg></a><a href="{{ path("app_figure_delete",
                            {slug: figure
                            .getSlug()})
                        }}" class="col link-dark h-50 w-50"><svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="30" height="30"
                                    fill="currentColor" class="bi bi-trash
                                    h-100 w-100
                                   " viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                            </svg></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}