{% extends 'base.html.twig' %}

{% block title %}Nouveau trick{% endblock %}

{% block body %}
    <div class="container mt-4 mb-5">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1 class="mb-5 m-0">Nouveau trick</h1>

        <div class="border border-dark p-5">

            {{ form_start(figureForm) }}
            {{ form_row(figureForm.name) }}
            {{  form_row(figureForm.description)}}
            {{ form_row(figureForm.groupe) }}
            {{  form_row(figureForm.image)}}
            {{  form_row(figureForm.video)}}

            <button type="submit" class="btn btn-primary
        mt-4">Enregistrer</button>

            {{ form_end(figureForm) }}

        </div>
    </div>
{% endblock %}
