{% extends 'base.html.twig' %}

{% block title %}{{ figure.getName() }}{% endblock %}

{% block body %}
    <div class="container-fluid px-0 gx-5 position-relative">
        {% if figure.images is not empty %}
            {% for banner in figure.images %}
                {% if (banner.isBanner) %}
        <div class="position-absolute top-0 end-0 w-25 d-flex
        justify-content-end" style="z-index: 2">
            <div class="row border border-dark py-3 mt-4 me-4 w-50">
                <div class="col d-flex justify-content-center">
                    <a href="{{ path("app_image_update", {id: banner.getId()
                    }) }}" class="link-dark">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="25" height="25"
                                fill="currentColor" class="bi
                                     bi-pencil-fill" viewBox="0 0
                                     16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                    </a>
                </div>
                <div class="col d-flex justify-content-center">
                    <a href="{{ path("app_image_delete", {id: banner.getId})
                    }}" class="link-dark">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="25" height="25"
                                fill="currentColor" class="bi bi-trash
                                   " viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="container-fluid text-center position-relative d-flex
        justify-content-center align-items-center">
            {% if figure.images is not empty %}
                <div class="container-fluid d-flex justify-content-center">
                    <img src="{{ asset('images/' ~ figure.images[0].getPath()) }}"
                         class="img-fluid w-100 mx-xl-auto object-fit-cover
                         opacity-50" alt="">
                </div>
            {% endif %}
            <div class="container-fluid position-absolute">
                <h2 class="top-50 start-50
            fw-bolder text-uppercase">{{ figure.getName() }}</h2>
            </div>
        </div>

        <div class="container mt-lg-4 mt-2 px-1 px-lg-4">
            <div class="row row-cols-2">
                {% if figure.images is not empty %}
                <div class="col">
                <div class="row row-cols-xl-3 row-cols-lg-3 row-cols-1
                align-content-around h-100">
                    {% for image in figure.images %}
                        <div class="col h-100">
                            <div class="text-center h-50">
                                <img src="{{ asset('images/' ~ image.getPath()) }}"
                                     class="rounded h-100 img-fluid" alt="">
                            </div>
                            <div class="row border border-dark py-3 mt-4">
                                <div class="col d-flex justify-content-center">
                                    <a href="{{ path("app_image_update", {id: image.getId()}) }}" class="link-dark">
                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="25" height="25"
                                                fill="currentColor" class="bi
                                     bi-pencil-fill" viewBox="0 0
                                     16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    </a>
                                </div>
                                <div class="col d-flex justify-content-center">
                                    <a href="{{ path("app_image_delete", {id:
                                        image.getId()}) }}" class="link-dark">
                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="25" height="25"
                                                fill="currentColor" class="bi bi-trash
                                   " viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                </div>
                {% endif %}
                {% if figure.videos is not empty %}
                <div class="col">
                <div class="row row-cols-xl-3 row-cols-lg-3 row-cols-1
                align-content-around h-100">
                    {% for video in figure.videos %}
                        <div class="col h-100">

                                <iframe title="Trick video"
                                        style="width: 100%; height: auto"
                                        src="{{ video.getPath() }}">
                                </iframe>

                            <div class="row border border-dark py-3
                            h-auto">
                                <div class="col h-100 d-flex justify-content-center">
                                    <a href="{{ path("app_video_update", {id:
                                        video.getId()}) }}" class="link-dark">
                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="25" height="25"
                                                fill="currentColor" class="bi
                                     bi-pencil-fill" viewBox="0 0
                                     16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    </a>
                                </div>
                                <div class="col h-100 d-flex justify-content-center">
                                    <a href="{{ path("app_video_delete", {id:
                                        video.getId()}) }}" class="link-dark">
                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="25" height="25"
                                                fill="currentColor" class="bi bi-trash
                                   " viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                </div>
                {% endif %}
            </div>
            <div class="container mt-4 mb-5">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                <div class="border border-dark p-5">

                    {{ form_start(figureForm) }}
                    {{ form_row(figureForm.name) }}
                    {{  form_row(figureForm.description)}}
                    {{ form_row(figureForm.groupe) }}
                    {{  form_row(figureForm.banner)}}
                    {{  form_row(figureForm.image)}}
                    {{  form_row(figureForm.video)}}

                    <div class="container">
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary
        mt-4">Enregistrer</button>
                    <a href="{{ path('app_figure_delete', {slug: figure.getSlug()}) }}" type="button" class="btn
                    btn-danger mt-4 ms-4">Supprimer</a>
                            </div>
                        </div>
                    </div>

                    {{ form_end(figureForm) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
