{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="container mt-4 mb-5">
            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connectés en tant que {{ app.user.userIdentifier
                    }}, <a
                            href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>

            <div class="border border-dark p-5">
                {{ form_start(forgotPasswordPageForm) }}

                {{ form_row(forgotPasswordPageForm.name) }}

                <button class="btn btn-lg btn-primary mt-4" type="submit">Envoyer</button>
                {{ form_end(forgotPasswordPageForm) }}

            </div>
    </div>
{% endblock %}
