
<nav
        class="navbar navbar-expand-lg bg-light bg-gradient fixed-bottom sticky-lg-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path("home") }}"><img
                    src="{{ asset('images/snowtricks-logo.png') }}"
                    class="img-fluid"
                    style="width: 10%;"
                    alt="..."></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end"
             id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       href="{{ path("home") }}">Accueil</a>
                </li>
                {% if (app.user is empty) %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_login") }}">Se
                        connecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("sign_up_page")
                    }}">S'enregistrer</a>
                </li>
                {% endif %}
                {% if (app.user is not empty) %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Se
                        déconnecter</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% if (success is defined and success is not empty) or (error is defined
    and error is not empty) %}
    <div class="alert alert-{{ (success is defined and success is not empty) ?
    "success" : "danger"
    }}" role="alert">
        {{ (success is defined and success is not empty) ? success : error }}
    </div>
{% endif %}